@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

@import "../structure/top/top";

@import "../structure/aside/aside_editor";
@import "../structure/aside/aside";
@import "../structure/aside/projects/project";

@import "../structure/main/task/task";
@import "../structure/main/adder/adder";
@import "../structure/main/adder/line/line";

@import "../structure/pop/pop";
@import "../structure/pop/elements/edit_menu/edit_menu";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    body {
        z-index: 10;
        position: relative;
        background-color: #1f1f1f;
        color: #fff;
        font-family: "Roboto", sans-serif;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "nav nav"
            "aside main";

        input,
        textarea,
        input:active,
        textarea {
            background-color: transparent;
            outline: none;
            border: 0;
            color: #fff;
            margin: 2px 0;
            width: 100%;
            resize: none;
        }

        input::placeholder,
        textarea::placeholder {
            color: #5a5a5a;
        }

        .fa,
        .fa {
            font-size: 15px;
            margin: 0 3px;
        }

        .fa:hover,
        .fa:hover,
        .additional button:hover,
        .plannig button:hover {
            text-shadow: 0 0 2px #cc3022;
            color: #db4c3f;
            cursor: pointer;
        }

        .btn-wrapper {
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            align-items: center;
            gap: 3px;
        }

        button,
        a {
            cursor: pointer;
            color: #fff;
        }
        button {
            background-color: transparent;
            border: none;
            border-radius: 4px;
            margin: auto;
        }
        button i {
            align-self: center;
        }

        header {
            z-index: 30;
            position: fixed;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: auto auto;
            justify-content: space-between;
            width: 100%;
            grid-area: nav;
            background-color: #1a1a1a;
        }

        aside {
            z-index: 20;
            position: relative;
            width: 288px;
            height: calc(100% - 48px);
            top: 48px;
            left: 0;
            bottom: 0;
            grid-area: aside;
            transition: all 0.5s;
        }

        main {
            position: relative;
            height: 100%;
            grid-area: main;
            width: 100%;
            #content-wrapper {
                z-index: 20;
                position: inherit;
                top: 48px;
                .partName {
                    z-index: 10;
                    position: sticky;
                    top: 48px;
                    padding: 15px;
                    background-color: #1f1f1f;
                    border-bottom: 1px solid #444444;
                    width: 100%;
                }
            }
        }

        .hiding {
            visibility: hidden;
        }
    }
}
