.defaultEditor {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 0;
    visibility: hidden;
    transition: transform 200ms;
    transform: rotateX(180deg);
    color: #fff;
    background-color: #5a5a5a5d;
    border-radius: 4px;
    input {
        padding: 2px 2spx;
    }
    select {
        font-family: "FontAwesome", "Second Font name";
        appearance: none;
        background-color: transparent;
        color: inherit;
        padding: 1px 2px;
        margin: 0 2px;
        text-align: center;
        outline: none;
        border: none;
        font-size: 13px;
    }

    option {
        background-color: #202020;
        text-align: center;
        line-height: 12px;
        font-size: 13px;
    }

    i.fa {
        font-size: 13px;
    }
    i.fa:hover {
        color: orange;
        text-shadow: none;
    }
}
.showEditor {
    height: auto;
    visibility: visible;
    transform: none;
    padding: 0 6px;
    margin: 0 3px 0 13px;
}

.defaultBtn {
    transition: transform 200ms;
}

.cencelBtn {
    transform: rotate(45deg);
}
