.hiden {
    width: 0;
    left: -288px;
    padding: 0;
}

aside {
    .aside-containder {
        position: fixed;
        background-color: #252525;
        height: 100%;
        width: 288px;
        padding: 15px;

        .aside-part {
            .list {
                .item:hover {
                    background-color: #1a1a1a;
                }
            }
            .item {
                display: grid;
                grid-template-columns: auto 1fr auto;
                gap: 8px;
                justify-content: space-between;
                align-items: center;
                margin: 3px 0;
                padding: 4px 8px;
                border: 0;
                border-radius: 4px;
                width: 100%;
                #previous {
                    color: #b0e95c;
                }
                #previous:hover {
                    text-shadow: 0 0 3px #b0e95c;
                }

                #today {
                    color: #db4234;
                }

                #today:hover {
                    text-shadow: 0 0 3px #db4234;
                }

                #coming {
                    color: #66baf3;
                }

                #coming:hover {
                    text-shadow: 0 0 3px #66baf3;
                }

                #marks {
                    color: #ae5bf3;
                    padding: 0 2px;
                }

                #marks:hover {
                    text-shadow: 0 0 3px #ae5bf3;
                }

                #project {
                    font-size: 18px;
                    color: #cc3022;
                }

                #project:hover {
                    text-shadow: 0 0 3px #db4c3f;
                }
                .plus {
                    visibility: hidden;
                    font-size: 18px;
                    line-height: 10px;
                    background-color: #5a5a5a5d;
                    padding: 1px;
                    border-radius: 50%;
                    border: 1px solid #5a5a5a5d;
                }
                .amount {
                    font-size: 14px;
                    padding: 0 3px;
                }
            }

            .include-list:hover .plus {
                visibility: visible;
            }
            .include-list {
                margin: 8px 0;
                height: fit-content;
                .list .item > button i:first-child:hover {
                    color: white;
                    text-shadow: 0 0 6px white;
                }
                .list .item:hover > .btn-wrapper:first-child i::before {
                    content: '\f044';
                    font-size: 13px;
                }
                .list {
                    padding: 0 2px 0 13px;
                    .fa:first-child {
                        font-size: 13px;
                        width: 13px;
                        padding: 0 3px;
                    }
                    .item .btn-wrapper:last-child {
                        visibility: hidden;
                        i {
                            font-size: 13px;
                        }
                    }
                    .item:hover .btn-wrapper {
                        visibility: visible;
                    }
                }
            }
        }
    }
}
