.defaultEditor {
    height: 0;
    visibility: hidden;
    transition: transform 200ms;
    transform: rotateX(180deg);
    color: #fff;
    background-color: #5a5a5a5d;
    border-radius: 4px;
    .formEdit {
        display: grid;
        grid-auto-flow: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    input {
        padding: 2px 2spx;
    }
    select {
        font-family: 'FontAwesome', 'Second Font name';
        appearance: none;
        background-color: transparent;
        color: inherit;
        padding: 1px 3px;
        margin: 0 2.8px;
        text-align: center;
        line-height: 13px;
        outline: none;
        border: none;
        font-size: 13px;
    }
    option {
        font-family: 'FontAwesome', 'Second Font name';
        background-color: #202020;
        line-height: 13px;
        i.fa {
            font-size: 13px;
            text-align: center;
            width: 13px;
        }
        i.fa:hover {
            color: orange;
            text-shadow: none;
        }
    }
}

.showEditor {
    height: auto;
    visibility: visible;
    transform: none;
    padding: 0 8px;
    margin: 0 3px 0 13px;
}

.defaultBtn {
    transition: transform 200ms;
}

.cencelBtn {
    transform: rotate(45deg);
}
