.markEditor {
    display: grid;
    grid-auto-flow: column;
    padding: 3px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #444;
    border-radius: 3px;

    select {
        font-family: "FontAwesome", "Second Font name";
        background-color: transparent;
        border: none;
        color: white;
    }
    option {
        background-color: #444;
        font-family: "FontAwesome", "Second Font name";
        text-align: center;
        line-height: 17px;
    }
    i.fa {
        font-size: 13px;
    }
    i.fa:hover {
        color: orange;
    }
}
