.defaultEditor {
    display: grid;
    grid-auto-flow: column;
    padding: 3px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 3px 11px;
    height: 0;
    visibility: hidden;
    transition: transform 200ms;
    transform: rotateX(180deg);

    select {
        font-family: "FontAwesome", "Second Font name";
        background-color: transparent;
        border: none;
        color: white;
    }

    option {
        background-color: #444;
        text-align: center;
        line-height: 17px;
    }
    option:hover {
        background-color: black;
    }
    i.fa {
        font-size: 13px;
    }
    i.fa:hover {
        color: orange;
    }
}
.addingMark {
    height: auto;
    visibility: visible;
    transform: none;
}

.defaultBtn {
    transition: transform 200ms;
}

.cencelBtn {
    transform: rotate(45deg);
}
